.mainContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: solid black 2px;
    padding: 15px;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;
}

.itemContainer > label{
    text-align: center;
    margin-bottom: 10px;
}

.imageContainer{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
    background-size: cover;
}

.imageItem{
    object-fit: cover;
}
